tbody {
	display: block;
	overflow-y: scroll;
	height: 400px;
}


thead, tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

thead {
	width: calc(100% - 10px)
}

.filterAlbumBox, .filterSongBox, .filterOthSongBox, .filterPlaylistBox{
	width: 90%
}

.connectedSortable:hover{
	cursor: pointer;
}


input[type="checkbox"], input[type="checkbox"] + label {
    cursor: pointer;
}